
/* Definições do container de imagem */
.hero-container {
      position: relative;
      text-align: center;
    }
    
    /* Definições da imagem do container */
    #indexImage {
      width: 100%;
      height: auto;
      display: block;
      width: 1466px;                  /* largura fixa */
  height: 816px;                  /* altura fixa */
  background-size: cover;        /* A imagem enche a área total */
  background-repeat: no-repeat;  /* Previne o tiling */
  background-position: center;   /* Centrar a imagem */
    }

    /* Definições da NavBar */
    .navbar-overlay {
      position: absolute;
      top: 15px;
      right: 30px;
      background: transparent; /* background transparente */
      border-radius: 8px;
      padding: 0.5rem 1rem;
    }
    .navbar-nav {
      display: flex;
      gap: 1.5rem; /* espaço entre itens do menu */
      list-style: none; /* tirar os bullets */
      margin-bottom: 0; /* remover espaço extra */
    }

    .nav-link {
      color: #000; /* cor do texto */
      text-decoration: none;
      font-weight: 700;
      font-family: "Jura", sans-serif; /* tipo de letra */
      font-optical-sizing: auto;
      font-style: bold;
    }
    .nav-link:hover {
      text-decoration: underline; /* opção de passar a sublinhado quando passamos o rato por cima */
    }

  /* Definições do Texto */
  /* Centered overlay text */
    .hero-text {
      
position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-weight: bold;
      background: transparent; /* optional dark overlay for readability */
      padding: 0.5rem 1rem;
      color: white;
      font-family:'Josefin Slab', serif;
      font-weight: 700;
      font-style: normal;
      font-size: 85px;
      line-height: 100%;
     white-space: nowrap; /* previne que o texto colapse para outra linha */
    }